* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

footer,
header {
  background-color: #ddd;
}

footer {
  padding: 40px 0;
}

header {
  padding: 20px 0;
}

main {
  flex: 1 0 auto;
  padding: 20px 0;
}

.root {
  height: 100%;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}
